# Python CircleCI 2.1 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
jobs:
  makeenv_38:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Generate environment
          command: |
            if [ ! -d /opt/conda/envs/tedana_py38 ]; then
              conda create -yq -n tedana_py38 python=3.8
              source activate tedana_py38
              pip install -e .[tests]
            fi
      - save_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
          paths:
            - /opt/conda/envs/tedana_py38

  unittest_38:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Running unit tests
          command: |
            apt-get update
            apt-get install -y make
            source activate tedana_py38  # depends on makeenv_38
            make unittest
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.py38
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.py38

  unittest_39:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py39-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Generate environment
          command: |
            apt-get update
            apt-get install -yqq make
            if [ ! -d /opt/conda/envs/tedana_py39 ]; then
              conda create -yq -n tedana_py39 python=3.9
              source activate tedana_py39
              pip install .[tests]
            fi
      - run:
          name: Running unit tests
          command: |
            source activate tedana_py39
            make unittest
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.py39
      - save_cache:
          key: conda-py39-v2-{{ checksum "pyproject.toml" }}
          paths:
            - /opt/conda/envs/tedana_py39
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.py39

  unittest_310:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py310-v1-{{ checksum "pyproject.toml" }}
      - run:
          name: Generate environment
          command: |
            apt-get update
            apt-get install -yqq make
            if [ ! -d /opt/conda/envs/tedana_py310 ]; then
              conda create -yq -n tedana_py310 python=3.10
              source activate tedana_py310
              pip install .[tests]
            fi
      - run:
          name: Running unit tests
          command: |
            source activate tedana_py310
            make unittest
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.py310
      - save_cache:
          key: conda-py310-v1-{{ checksum "pyproject.toml" }}
          paths:
            - /opt/conda/envs/tedana_py310
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.py310

  unittest_311:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py311-v1-{{ checksum "pyproject.toml" }}
      - run:
          name: Generate environment
          command: |
            apt-get update
            apt-get install -yqq make
            if [ ! -d /opt/conda/envs/tedana_py311 ]; then
              conda create -yq -n tedana_py311 python=3.11
              source activate tedana_py311
              pip install .[tests]
            fi
      - run:
          name: Running unit tests
          command: |
            source activate tedana_py311
            make unittest
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.py311
      - save_cache:
          key: conda-py311-v1-{{ checksum "pyproject.toml" }}
          paths:
            - /opt/conda/envs/tedana_py311
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.py311

  unittest_312:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py312-v1-{{ checksum "pyproject.toml" }}
      - run:
          name: Generate environment
          command: |
            apt-get update
            apt-get install -yqq make
            if [ ! -d /opt/conda/envs/tedana_py312 ]; then
              conda create -yq -n tedana_py312 python=3.12
              source activate tedana_py312
              pip install .[tests]
            fi
      - run:
          name: Running unit tests
          command: |
            source activate tedana_py312
            make unittest
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.py312
      - save_cache:
          key: conda-py312-v1-{{ checksum "pyproject.toml" }}
          paths:
            - /opt/conda/envs/tedana_py312
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.py312

  style_check:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Style check
          command: |
            apt-get update
            apt-get install -yqq make
            source activate tedana_py38  # depends on makeenv38
            make lint

  three-echo:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Run integration tests
          no_output_timeout: 40m
          command: |
            apt-get update
            apt-get install -yqq make
            source activate tedana_py38  # depends on makeenv_38
            make three-echo
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.three-echo
      - store_artifacts:
          path: /tmp/src/tedana/.testing_data_cache/outputs
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.three-echo

  four-echo:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Run integration tests
          no_output_timeout: 40m
          command: |
            apt-get update
            apt-get install -yqq make
            source activate tedana_py38  # depends on makeenv_38
            make four-echo
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.four-echo
      - store_artifacts:
          path: /tmp/src/tedana/.testing_data_cache/outputs
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.four-echo

  five-echo:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Run integration tests
          no_output_timeout: 40m
          command: |
            apt-get update
            apt-get install -yqq make
            source activate tedana_py38  # depends on makeenv_38
            make five-echo
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.five-echo
      - store_artifacts:
          path: /tmp/src/tedana/.testing_data_cache/outputs
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.five-echo

  reclassify:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Run integration tests
          no_output_timeout: 40m
          command: |
            apt-get update
            apt-get install -yqq make
            source activate tedana_py38  # depends on makeenv_38
            make reclassify
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.reclassify
      - store_artifacts:
          path: /tmp/src/tedana/.testing_data_cache/outputs
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.reclassify

  t2smap:
    docker:
      - image: continuumio/miniconda3
    working_directory: /tmp/src/tedana
    steps:
      - checkout
      - restore_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Run integration tests
          no_output_timeout: 40m
          command: |
            apt-get update
            apt-get install -yqq make
            source activate tedana_py38  # depends on makeenv_38
            make t2smap
            mkdir /tmp/src/coverage
            mv /tmp/src/tedana/.coverage /tmp/src/coverage/.coverage.t2smap
      - store_artifacts:
          path: /tmp/src/tedana/.testing_data_cache/outputs
      - persist_to_workspace:
          root: /tmp
          paths:
            - src/coverage/.coverage.t2smap

  merge_coverage:
    working_directory: /tmp/src/tedana
    docker:
      - image: continuumio/miniconda3
    steps:
      - attach_workspace:
          at: /tmp
      - checkout
      - restore_cache:
          key: conda-py38-v2-{{ checksum "pyproject.toml" }}
      - run:
          name: Merge coverage files
          command: |
            apt-get update
            apt-get install -yqq curl
            source activate tedana_py38  # depends on makeenv38
            cd /tmp/src/coverage/
            coverage combine
            coverage xml
      - store_artifacts:
          path: /tmp/src/coverage
      - codecov/upload:
          file: /tmp/src/coverage/coverage.xml

workflows:
  version: 2.1
  build_test:
    jobs:
      - makeenv_38
      - unittest_38:
          requires:
            - makeenv_38
      - style_check:
          requires:
            - makeenv_38
      - three-echo:
          requires:
            - makeenv_38
      - four-echo:
          requires:
            - makeenv_38
      - five-echo:
          requires:
            - makeenv_38
      - reclassify:
          requires:
            - makeenv_38
      - t2smap:
          requires:
            - makeenv_38
      - unittest_39
      - unittest_310
      - unittest_311
      - unittest_312
      - merge_coverage:
          requires:
            - unittest_38
            - unittest_39
            - unittest_310
            - unittest_311
            - unittest_312
            - three-echo
            - four-echo
            - five-echo
            - reclassify
            - t2smap
