/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

div.admonition.caution {
  background: #FFC3C3
}
.rst-content .caution .admonition-title {
  background: #FF6F6F
}

/* Formatting rules specifically for admonition in denoising.rst */
div.admonition-independence-vs-orthogonality {
  border-radius: 25px;
  padding: 20px;
  border-style: solid;
  background: #dac9ff !important;
}

div.admonition-independence-vs-orthogonality .admonition-title {
   border-radius: 25px;
   padding: 10px;
   border-style: solid;
   font-size: larger;
   text-align: center;
   background: #a280f1;
}

div.admonition-independence-vs-orthogonality .admonition-title:before {
   content: none;
}

/* Formatting rules specifically for admonition in denoising.rst */
div.admonition-which-should-you-use {
   border-radius: 25px;
   padding: 20px;
   border-style: solid;
   background: #c8e2c5 !important;
}

div.admonition-which-should-you-use .admonition-title {
   border-radius: 25px;
   padding: 10px;
   border-style: solid;
   font-size: larger;
   text-align: center;
   background: #78c46f;
}

div.admonition-which-should-you-use .admonition-title:before {
   content: none;
}
